body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(
    to bottom right,
    rgb(45, 134, 45),
    rgb(177, 177, 120)
  );
}

.login-page {
  text-align: center;
  color: white;
}

.login-form {
  width: 20rem;
  margin: auto;
  margin-top: 10rem;
}

#emailHelp {
  margin: 1rem;
}

.sign-up-btn {
  margin-top: 1rem;
  border: none;
  background: none;
  text-decoration: underline;
}
