.login-page {
  text-align: center;
}

.login-form {
  width: 20rem;
  margin: auto;
  margin-top: 10rem;
}

#emailHelp {
  margin: 1rem;
}

.sign-up-btn {
  margin-top: 1rem;
  border: none;
  background: none;
  text-decoration: underline;
}
