@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap");

.pokedex-main {
  display: flex;
  justify-content: center;
  font-family: "Fredoka", Arial, Helvetica, sans-serif;
  font-size: 25px;
  flex-direction: column;
}

body {
  margin: 0%;
  padding: 0%;
  color: white;
}

.title-section {
  /* background-color: #5db9ff; */
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title-section input {
  width: 200px;
  height: 30px;
  border: none;
  /* border-radius: 10px;
  border: 1px solid #4ca8ee; */
  font-size: 18px;
  padding-left: 10px;
  margin: 5px;
  border-radius: 10px;
}

.title-section button {
  /* width: 180px;
  height: 60px;
  margin: 20px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  padding-left: 10px;
  color: white; */
  margin-top: 10px;
  /* background-color: #006cbf; */
}

.title-section button:hover {
  cursor: pointer;
}

.display-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-section h4,
h3 {
  margin: 5px;
}

.display-section img {
  width: 200px;
}

.go-back-to-pokedex {
  margin: auto;
  margin-left: 47%;
  margin-top: 10px;
}
